body {
    background: var(--figma-color-bg);
    color: var(--figma-color-text);
    font: 12px sans-serif;
    text-align: center;
    margin: 20px;
}
p {
    margin: 0;
}

input {
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: var(--figma-color-bg);
    color: var(--figma-color-text);
    padding: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}

button:focus {
    box-shadow: inset 0 0 0 2px #18a0fb;
}
input:focus {
    box-shadow: inset 0 0 0 2px #18a0fb;
}

.label {
    font-size: 7px !important;
    text-transform: uppercase;
    letter-spacing: 1px !important;
    color: var(--figma-color-text-secondary) !important;
    height: fit-content !important;
    margin-top: 8px;
}

.caption {
    font-size: 9px !important;
    text-transform: uppercase;
    letter-spacing: 1px !important;
    color: var(--figma-color-text-secondary) !important;
    height: fit-content !important;
    margin-bottom: 4px;
}
